<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
	<!-- <insert id="insertMember"> insert into MEMBER (userid, username, password) 
		values (#{userid} , #{username} , #{password}) </insert> <update id="updateMember"> 
		update MEMBER set userid=#{userid}, username=#{username}, password=#{password} 
		where sid=#{sid} </update> <delete id="deleteMember"> delete from MEMBER 
		where sid=#{sid} </delete> <select id="getMember" resultType="member"> select 
		* from MEMBER where sid=#{sid} </select> <select id="getMemberList" resultType="member"> 
		select * from MEMBER order by sid desc </select> -->
	<select id="getUser" resultType="com.my.mybatis.user.UserVO">
		select userid, username from
		MEMBER where userid=#{userid} and password=#{password}
	</select>
</mapper>